.header{
  width: 1440px;
  height: 94px;
  padding: 0 80px;
  margin: 0 auto;
  box-sizing: border-box;

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__link {
    color: $color-gray1;
    font-weight: 900;
    font-size: 32px;
  }
}
